<?xml version="1.0"?>
<robot xmlns:xacro="https://wiki.ros.org/xacro">

    <!--    materials-->
    <material name="gray">
        <color rgba="0.7 0.7 0.7 1" />
    </material>

    <material name="green">
        <color rgba="0 0.6 0 0.6" />
    </material>

    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <xacro:macro name="box_inertia" params="m l w h xyz rpy" >
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${m/12*(w*w + h*h)}" ixy="0" ixz="0"
                     iyy="${m/12*(w*w + l*l)}" iyz="0"
                     izz="${m/12*(w*w + l*l)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="m l r xyz rpy" >
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${m/12*(r*r*3 + l*l)}" ixy="0" ixz="0"
                     iyy="${m/12*(r*r*3 + l*l)}" iyz="0"
                     izz="${m/2*r*r}" />
        </inertial>
    </xacro:macro>


    <xacro:macro name="sphere_inertia" params="m r xyz rpy" >
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${2/5*m*r*r}" ixy="0" ixz="0"
                     iyy="${2/5*m*r*r}" iyz="0"
                     izz="${2/5*m*r*r}" />
        </inertial>
    </xacro:macro>


</robot>